:root {
  --medium-blue: #65ace4;
  --hover-medium-blue: #5b9cce;
  --medium-grey: #647c8e;
  --light-blue: #c6def1;
  --light-grey: #f5f5f5;
}

body {
  font-family: "helvetica", sans-serif;
  text-align: center;
  font-size: min(5vw, 50px);
  margin-bottom: 7vh;
}

.flashcard {
  background: var(--light-blue);
  border-radius: 0.6em;
  padding: 0.4em 0.6em;
  font-size: inherit;
  margin: 0.2em;
  -webkit-column-break-inside: avoid;
  position: relative;
}

.edit_button {
  position: absolute;
  right: 0.4em;
  top: 0.2em;
  color: var(--medium-blue);
  cursor: pointer;
}

.edit_button > span:hover {
  color: var(--hover-medium-blue);
}

.card_title {
  font-weight: bold;
}

input {
  font-size: inherit;
  font-family: inherit;
}

button,
input[type="submit"],
.button_col_4 {
  color: white;
  background: var(--medium-blue);
  border-radius: 0.6em;
  border: 0px;
  padding: 5px 10px;
}

.button_col_4 {
  text-decoration: none;
  padding: 0.4em 0.6em;
}

button,
input[type="submit"] {
  color: white;
  background: var(--medium-blue);
  border-radius: 0.6em;
  border: 0px;
  padding: 0.4em 0.6em;
  cursor: pointer;
  font-size: inherit;
  margin: 0.2em;
}

button:hover,
input[type="submit"]:hover {
  background: var(--hover-medium-blue);
}

table {
  font-size: inherit;
  text-align: center;
  border-collapse: collapse;
}

td,
tr {
  border: 1px solid;
  padding: 0.4em;
}

.nav_footer a {
  color: var(--medium-blue);
  font-size: 5vh;
  cursor: pointer;
  padding: 0px 2vh;
  margin-top: 1.5vh;
  text-decoration: none;
}

.nav_footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0;
  background-color: white;
  height: 7vh;
}

.toast {
  font-size: 0.5em;
  padding: 0.2em;
  border-radius: 0.2em;
}

.good {
  background-color: rgb(178, 221, 178);
}

.bad {
  background-color: rgb(221, 178, 178);
}

.page_nav {
  color: var(--medium-blue);
  cursor: pointer;
}

.active_page {
  color: var(--medium-grey);
  text-decoration: underline;
}

.page_no:hover {
  color: var(--hover-medium-blue);
}

.page_no {
  padding: 0px;
  margin: 5px;
}

.story_word input {
  display: hidden;
}

input[type="checkbox"] {
  display: none;
}

.story_span {
  margin: -0.02em;
}

.story_word_span {
  background-color: var(--light-blue);
  border-radius: 0.2em;
  cursor: pointer;
  padding: 0.02em;
  display: inline-block;
  text-align: center;
}

.story_word_check:checked + .story_word_span {
  background-color: var(--medium-blue);
}

.story_word_pronunciation {
  display: block;
  font-size: 0.4em;
  color: var(--medium-grey);
}

.story_col {
  top: 13vh;
  bottom: 13vh;
  overflow: scroll;
  position: absolute;
  left: 0vw;
  right: 50vw;
  width: 48vw;
  text-align: left;
  padding: 0.4em;
}

.story_col_r {
  left: 50vw;
  right: 100vw;
}

.new_terms_method {
  border-radius: 0.6em;
  padding: 0.6em;
  margin-top: 4vw;
  box-shadow: 0px 0px 3px var(--medium-grey);
}

.stats {
  font-size: 0.6em;
}

.textarea {
  font-size: inherit;
}

.ml-auto {
  margin-left: auto !important;
}
.mr-auto {
  margin-right: auto !important;
}

#chatbox {
  height: 75vh;
  padding: 2vh 0.4em;
  overflow-y: scroll;
}

.userText {
  text-align: right !important;
}

.chatText {
  padding: 1vh 1.5vw;
  border-radius: 1vh;
  max-width: 75vw;
  width: fit-content;
  display: block;
}

.userText span {
  background-color: var(--light-blue);
  margin-left: auto;
  margin-right: 0px;
}

.botText {
  text-align: left;
}

.botTextOuterSpan {
  background-color: var(--light-grey);
}

.above_footer {
  position: fixed;
  bottom: 7vh;
  width: 100%;
}

.header {
  font-size: 20px;
  font-weight: bold;
}

.content_toggles {
  font-size: 0.2em;
  color: var(--medium-blue);
  text-align: right;
  margin-right: 0.6em;
  cursor: pointer;
}

.translation {
  display: inline-block;
  font-size: 0.4em;
}
