

body {
  font-family: "helvetica", sans-serif;
  text-align: center;
  font-size: 5vw;
}


.flashcard {
  background: #65ace44f;
  border-radius: 3vw;
  padding: 2vw 3vw;
  font-size: inherit;
  margin: 1vw;
  -webkit-column-break-inside: avoid;
  position: relative;
}

.edit_button {
  position: absolute;
  right: 2vw;
  top: 2vw;
  color: #65ace4;
  cursor: pointer;
}

.edit_button:hover {
  color: #5b9cce;
}

.card_title {
  font-weight: bold;
}

input {
  font-size: inherit;
  font-family: inherit;
}

button, input[type=submit] {
  color: white;
  background: #65ace4;
  border-radius: 3vw;
  border: 0px;
  padding: 5px 10px;
}

button, input[type=submit] {
  color: white;
  background: #65ace4;
  border-radius: 3vw;
  border: 0px;
  padding: 2vw 3vw;
  cursor: pointer;
  font-size: inherit;
  margin: 1vw;
}

button:hover, input[type=submit]:hover {
  background: #5b9cce;
}

table {
  font-size: inherit;
  text-align: center;
  border-collapse: collapse;
}

td, tr {
  border: 1px solid;
  padding: 2vw;
}

.nav_footer span{
  color: #65ace4;
  font-size: 6vw;
  cursor: pointer;
  padding: 0px 3vw;
  margin-top: 2vw;
}

.edit_button span:hover{
  color: #5b9cce;
}

.toast {
  font-size: 2.5vw;
  padding: 1vw;
  border-radius: 1vw;
}

.good {
  background-color: rgb(178, 221, 178);
}

.bad {
  background-color: rgb(221, 178, 178);
}

.page_nav {
  color: #65ace4;
  cursor: pointer;
}

.active_page {
  color: #647c8e;
  text-decoration: underline;
}

.page_no:hover {
  color: #5b9cce;
}

.page_no {
  padding: 0px;
  margin: 5px;
}

.story_word input{
  display:hidden;
}

input[type="checkbox"]{
  display: none;
}

.story_span {
  margin: -.1vw;
}

.story_word_span {
  background-color: #65ade43d;
  border-radius: 1vw;
  cursor: pointer;
  padding: .1vw;
  display: inline-block;
}

.story_word_check:checked + .story_word_span {
  background-color: #65ace4;
}

.story_word_pronunciation {
  display:block;
  font-size: 2vw;
  color: #777;
}

.story_word_translation {
  display:block;
  font-size: 2vw;
}