:root {
  --medium-blue: #65ace4;
  --hover-medium-blue: #5b9cce;
  --medium-grey: #647c8e;
  --light-blue: #65ade43d;
}

body {
  font-family: "helvetica", sans-serif;
  text-align: center;
  font-size: 5vw;
}


.flashcard {
  background: var(--medium-blue)4f;
  border-radius: 3vw;
  padding: 2vw 3vw;
  font-size: inherit;
  margin: 1vw;
  -webkit-column-break-inside: avoid;
  position: relative;
}

.edit_button {
  position: absolute;
  right: 2vw;
  top: 1vw;
  color: var(--medium-blue);
  cursor: pointer;
}

.edit_button > span:hover {
  color: var(--hover-medium-blue);
}

.card_title {
  font-weight: bold;
}

input {
  font-size: inherit;
  font-family: inherit;
}

button, input[type=submit], .button_col_4 {
  color: white;
  background: var(--medium-blue);
  border-radius: 3vw;
  border: 0px;
  padding: 5px 10px;
}

.button_col_4 {
  text-decoration: none;
  padding: 2vw 3vw;
}

button, input[type=submit] {
  color: white;
  background: var(--medium-blue);
  border-radius: 3vw;
  border: 0px;
  padding: 2vw 3vw;
  cursor: pointer;
  font-size: inherit;
  margin: 1vw;
}

button:hover, input[type=submit]:hover {
  background: var(--hover-medium-blue);
}

table {
  font-size: inherit;
  text-align: center;
  border-collapse: collapse;
}

td, tr {
  border: 1px solid;
  padding: 2vw;
}

.nav_footer a{
  color: var(--medium-blue);
  font-size: 4vh;
  cursor: pointer;
  padding: 0px 2vh;
  margin-top: 1.5vh;
  text-decoration: none;
}

.nav_footer_sticky {
  position: absolute;
  bottom: 0vh;
  width: 100%;
  font-size: 4vh;
}

.toast {
  font-size: 2.5vw;
  padding: 1vw;
  border-radius: 1vw;
}

.good {
  background-color: rgb(178, 221, 178);
}

.bad {
  background-color: rgb(221, 178, 178);
}

.page_nav {
  color: var(--medium-blue);
  cursor: pointer;
}

.active_page {
  color: var(--medium-grey);
  text-decoration: underline;
}

.page_no:hover {
  color: var(--hover-medium-blue);
}

.page_no {
  padding: 0px;
  margin: 5px;
}

.story_word input{
  display:hidden;
}

input[type="checkbox"]{
  display: none;
}

.story_span {
  margin: -.1vw;
}

.story_word_span {
  background-color: var(--light-blue);
  border-radius: 1vw;
  cursor: pointer;
  padding: .1vw;
  display: inline-block;
  text-align: center;
}

.story_word_check:checked + .story_word_span {
  background-color: var(--medium-blue);
}

.story_word_pronunciation {
  display:block;
  font-size: 2vw;
  color: var(--medium-grey);
}

.story_col {
  top: 13vh;
  bottom: 13vh;
  overflow: scroll;
  position: absolute;
  left: 0vw;
  right: 50vw;
  width: 48vw;
  text-align: left;
  padding: 2vw;
}

.story_col_r {
  left: 50vw;
  right: 100vw;
}

.new_terms_method {
    border-radius: 3vw;
    padding: 3vw;
    margin-top: 4vw;
    box-shadow: 0px 0px 3px var(--medium-grey);
}

.stats {
  font-size: 3vw;
}

.textarea {
  font-size: inherit;
}

.ml-auto{
  margin-left:auto !important;
}
.mr-auto{
  margin-right:auto !important;
}

#chatbox {
  height: 75vh;
  padding: 2vh 2vw;
  overflow-y: scroll;
}

.userText {
  text-align: right !important;
}

.chatText span{
  color: white;
  padding: 1vh 1.5vw;
  border-radius: 1vh;
  max-width: 75vw;
  width: fit-content;
  display: block;
}

.userText span {
  background-color: var(--medium-blue);
  margin-left: auto;
  margin-right: 0px;
}

.botText {
  text-align: left;
}

.botText span {
  background-color: var(--medium-grey);
}

.row_5 {
  height: 5vh;
  font-size: 3vh;
}

.header {
  font-size: 20px;
  font-weight: bold;
}