<head>
  <title>Card Added</title>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

{% for category, message in get_flashed_messages(with_categories=True) %}
<div class="toast {{category}}">{{ message }}</div>
{% endfor %}

<h2> Card Updated </h2>
<div class="flashcard">
  <div class="card_title"> {{study_term.term}} </div>
  <div> translation: {{study_term.translated_term}} </div>
  <div> pronunciation: {{study_term.pronunciation}} </div>
</div>

<div class="nav_footer">
  <span class="material-icons" onclick="window.location.href = '/quiz';">school</span>
  <span class="material-icons" onclick="window.location.href = '/new_card';">add</span>
  <span class="material-icons" onclick="window.location.href = '/cards';">dashboard</span>
  <span class="material-icons" onclick="window.location.href = '/stats';">query_stats</span>

</div>
