<html>
  <head>
    <title>Set Password for Immersion Assist</title>
    <link
      type="text/css"
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link rel="shortcut icon" type="image/x-icon" href="./static/favicon.ico" />
  </head>
  <body>
    {% for category, message in get_flashed_messages(with_categories=True) %}
    <div class="toast {{category}}">{{ message }}</div>
    {% endfor %}

    <h1>Email confirmed. Please enter a password for your account</h1>
    <form action="/signup" method="POST">
      <table>
        <tr>
          <td class="signup_title">Password</td>
          <td class="signup_input">
            <input type="password" name="password" />
          </td>
        </tr>
        <tr>
          <td class="signup_title">Confirm Password</td>
          <td class="signup_input">
            <input type="password" name="password_2" />
          </td>
        </tr>
        <input
          type="hidden"
          name="learning_language"
          value="{{learning_language}}"
        />
        <input type="hidden" name="home_language" value="{{home_language}}" />
        <input type="hidden" name="name" value="{{name}}" />
        <input type="hidden" name="email" value="{{email}}" />
      </table>
      <p><input type="submit" value="Submit" /></p>
    </form>
  </body>
</html>
