<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css')}}"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="shortcut icon" type="image/x-icon" href="./static/favicon.ico" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>

  <body>
    <form id="chat-form" action="/save_terms" method="POST">
      <div id="chatbox">
        <h2>Chat and Learn</h2>
        <p>
          Click any terms you don't know, then when you're finished, click "save
          terms" to add all of them to your study terms.
        </p>
        {% if is_debug_view %}
        <div style="font-size: 0.5em">
          [debug] cost of conversation: <span id="cost">$0.00</span>
        </div>
        {% endif %}
        <div class="ml-auto mr-auto">
          <p class="botText">
            <span class="chatText botTextOuterSpan bot_hide_translation">
              {{initial_prompt_html | safe}}
              <span class="translation"> {{initial_prompt_translation}} </span>
              <span class="content_toggles">
                <a class="toggle_pronunciation">Toggle pronunciation</a>
                <a class="toggle_translation">Toggle translation</a>
              </span>
            </span>
          </p>
        </div>
      </div>
      <div id="userInput" class="above_footer">
        <div>
          <input
            id="text"
            type="text"
            name="msg"
            placeholder="Message"
            class="form-control"
            autocomplete="off"
          />
          <button id="send">Send</button>
          <button id="save" type="submit">Save</button>
        </div>
      </div>
    </form>

    <script>
      $(document).ready(function () {
        var chatId = 0;

        $("#save").click(function () {
          $(this).data("clicked", true);
        });

        $(".toggle_translation").click(function () {
          this.parentElement.parentElement.classList.toggle(
            "bot_hide_translation"
          );
        });

        $(".toggle_pronunciation").click(function () {
          this.parentElement.parentElement.classList.toggle(
            "bot_hide_pronunciation"
          );
        });

        $("#chat-form").on("submit", function (event) {
          if ($("#save").data("clicked")) {
            return;
          }

          chatId = chatId + 1;
          var rawText = $("#text").val();
          var userHtml =
            '<p id="userInput" class="userText"><span class="chatText">' +
            rawText +
            "</span></p>";
          $("#text").val("");
          $("#chatbox").append(userHtml);
          document.getElementById("userInput").scrollIntoView({
            block: "start",
            behavior: "smooth",
          });
          $.ajax({
            data: {
              msg: rawText,
            },
            type: "POST",
            url: "/chatbot_response",
          }).done(function (data) {
            var botHtml =
              '<p id="chatId-' +
              chatId +
              '" class="botText"><span class="chatText botTextOuterSpan bot_hide_translation">' +
              data.story.terms_html +
              '<span class="translation">' +
              data.story.translation +
              "</span>" +
              '<span class="content_toggles">' +
              '<a class="toggle_pronunciation" onclick="' +
              "this.parentElement.parentElement.classList.toggle('bot_hide_pronunciation')" +
              '">Toggle pronunciation</a>' +
              '<a class="toggle_translation" onclick="' +
              "this.parentElement.parentElement.classList.toggle('bot_hide_translation')" +
              '"> Toggle translation</a>' +
              "</span></span></p>";
            $("#chatbox").append($.parseHTML(botHtml));
            $("#cost").text(data.runningCost);
            document.getElementById("chatId-" + chatId).scrollIntoView({
              block: "start",
              behavior: "smooth",
            });
          });
          event.preventDefault();
        });
      });
    </script>
  </body>

  <div class="nav_footer">
    <a class="material-icons" href="/quiz">psychology_alt</a>
    <a class="material-icons" href="/chat">forum</a>
    <a class="material-icons" href="/new">add</a>
    <a class="material-icons" href="/terms">dashboard</a>
    <a class="material-icons" href="/stats">query_stats</a>
    <a class="material-icons" href="/about">help</a>
  </div>
</html>
