<!doctype html>
<html>
<head>
  <title>Immersion Assist</title>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

  <h1> Welcome to Immersion Assist, {{ session['name'] }}! </h1>
  <h3> What would you like to do? </h3>
  <button onclick="window.location.href = '/quiz';"> study flashcards </button>
  <button onclick="window.location.href = '/new_card';"> add a new term </button>
  <button onclick="window.location.href = '/cards';"> view flashcards </button>

</body>
</html>
