<!DOCTYPE html>
<html>
  <head>
    <title>Immersion Assist</title>
    <link
      type="text/css"
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="shortcut icon" type="image/x-icon" href="./static/favicon.ico" />
  </head>

  {% for category, message in get_flashed_messages(with_categories=True) %}
  <div class="toast {{category}}">{{ message }}</div>
  {% endfor %}

  <h1>Welcome to Immersion Assist, {{ session['name'] }}!</h1>

  <body>
    <h3>What would you like to do?</h3>

    <div class="action_card">
      <div class="action_card_title">Prepare for immersion</div>
      <a class="action_card_action col_2" href="/chat">
        <div class="big_icon material-icons">forum</div>
        <div>Practice chatting</div>
      </a>
      <a class="action_card_action col_2" href="/new">
        <div class="big_icon material-icons">add</div>
        <div>Save relevant vocabulary</div>
      </a>
    </div>

    <div class="action_card">
      <div class="action_card_title">Stay fresh on vocabulary</div>
      <a class="action_card_action col_3" href="/quiz">
        <div class="big_icon material-icons">psychology_alt</div>
        <div>Quiz yourself on your terms</div>
      </a>
      <a class="action_card_action col_3" href="/terms">
        <div class="big_icon material-icons">dashboard</div>
        <div>View and edit your saved terms</div>
      </a>
      <a class="action_card_action col_3" href="/stats">
        <div class="big_icon material-icons">query_stats</div>
        <div>Check your progress over time</div>
      </a>
    </div>
  </body>
</html>
