<html>

<head>
    <title>Quiz</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

{% for category, message in get_flashed_messages(with_categories=True) %}
<div class="toast {{category}}">{{ message }}</div>
{% endfor %}

{% if not last_guess or not last_guess%}
  <p> Type {{current_card.prompt}} </p>

{% elif last_card.is_correct_guess(last_guess) %}
  <p> Correct! </p>
  <div class="flashcard">
      <div class="card_title"> {{last_card.study_term.term}} </div>
      <div> translation: {{last_card.study_term.translated_term}} </div>
      <div> pronunciation: {{last_card.study_term.pronunciation}} </div>
  </div>
  <p> Type {{current_card.prompt}} </p>

{% else %}
  <p> Incorrect. </p>
  <div class="flashcard">
      <div class="card_title"> {{last_card.study_term.term}} </div>
      <div> translation: {{last_card.study_term.translated_term}} </div>
      <div> pronunciation: {{last_card.study_term.pronunciation}} </div>
  </div>
  <p> Type {{current_card.prompt}} to move on. </p>
{% endif %}

<form action="/quiz" method = "POST">
    <input type="hidden" name="last_term_id" value="{{current_card.study_term.id}}"/>
    <input type="hidden" name="quiz_type" value="{{current_card.quiz_type}}" />
    <p> Answer: <input type = "text" name = "guess" autofocus autocomplete="off"/></p>
    <p><input type = "submit" value = "Submit" /></p>
</form>

<div class="nav_footer">
  <span class="material-icons" onclick="window.location.href = '/quiz';">school</span>
  <span class="material-icons" onclick="window.location.href = '/new_card';">add</span>
  <span class="material-icons" onclick="window.location.href = '/cards';">dashboard</span>
  <span class="material-icons" onclick="window.location.href = '/stats';">query_stats</span>

</div>

</html>
