<html>

<head>
    <title>Quiz</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

{% if not last_guess or not last_guess%}
  <p> Type {{current_card.prompt}} </p>

{% elif last_card.is_correct_guess(last_guess) %}
  <p> Correct! </p>
  <div class="flashcard">
      <h4> {{last_card.study_term.term}} </h4>
      <p> translation : {{last_card.study_term.translated_term}} </p>
      <p> pronunciation : {{last_card.study_term.pronunciation}} </p>
      <p> quiz_type : {{last_card.quiz_type}} </p>
  </div>
  <p> Next: </p>
  <p> Type {{current_card.prompt}} </p>

{% else %}
  <p> Incorrect. </p>
  <div class="flashcard">
    <h4> {{last_card.study_term.term}} </h4>
    <p> translation : {{last_card.study_term.translated_term}} </p>
    <p> pronunciation : {{last_card.study_term.pronunciation}} </p>
    <p> quiz_type : {{last_card.quiz_type}} </p>
  </div>
  <p> Type {{current_card.prompt}} to move on. </p>
{% endif %}

<form action="/quiz" method = "POST">
    <input type="hidden" name="last_term_id" value="{{current_card.study_term.id}}"/>
    <input type="hidden" name="quiz_type" value="{{current_card.quiz_type}}" />
    <p> Answer: <input type = "text" name = "guess" autofocus autocomplete="off"/></p>
    <p><input type = "submit" value = "Submit" /></p>
</form>

</html>
