<head>
  <title>Cards Saved</title>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

{% for category, message in get_flashed_messages(with_categories=True) %}
<div class="toast {{category}}">{{ message }}</div>
{% endfor %}

<h2> Cards Saved </h2>
{% for study_term in study_terms %}
  <div class="flashcard">
    <span class="edit_button">
      <span
          class="material-icons" 
          onclick="window.location.href = '/edit?study_term_id_to_edit={{study_term.id}}';">
          edit
      </span>
      <span
          class="material-icons" 
          onclick="window.location.href = '/delete?study_term_id_to_delete={{study_term.id}}';">
          delete
      </span>
    </span>
    <div class="card_title"> {{study_term.term}} </div>
    <div> translation: {{study_term.translated_term}} </div>
    <div> pronunciation: {{study_term.pronunciation}} </div>
  </div>
{% endfor %}

<div class="nav_footer">
  <span class="material-icons" onclick="window.location.href = '/quiz';">school</span>
  <span class="material-icons" onclick="window.location.href = '/new';">add</span>
  <span class="material-icons" onclick="window.location.href = '/terms';">dashboard</span>
  <span class="material-icons" onclick="window.location.href = '/stats';">query_stats</span>

</div>
