<html>
  <head>
    <title>Sign Up For Immersion Assist</title>
    <link
      type="text/css"
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link rel="shortcut icon" type="image/x-icon" href="./static/favicon.ico" />
  </head>
  <body>
    {% for category, message in get_flashed_messages(with_categories=True) %}
    <div class="toast {{category}}">{{ message }}</div>
    {% endfor %}

    <h1>Sign Up For Immersion Assist</h1>
    <form action="/signup" method="POST">
      <table>
        <tr>
          <td class="signup_title">Email</td>
          <td class="signup_input"><input type="text" name="email" /></td>
        </tr>
        <tr>
          <td class="signup_title">Name</td>
          <td class="signup_input"><input type="text" name="name" /></td>
        </tr>
        <tr>
          <td class="signup_title">Password</td>
          <td class="signup_input">
            <input name="password" type="password" />
          </td>
        </tr>
        <tr>
          <td class="signup_title">Home language</td>
          <td class="signup_input">
            <select name="home_language">
              <option value="en">English</option>
              {% for language_name, language_code in supported_languages %}
              <option value="{{ language_code }}">{{ language_name }}</option>
              {% endfor %}
            </select>
          </td>
        </tr>
        <tr>
          <td class="signup_title">Learning language</td>
          <td class="signup_input">
            <select name="learning_language">
              <option value="zh-TW">Chinese (Traditional)</option>
              {% for language_name, language_code in supported_languages %}
              <option value="{{ language_code }}">{{ language_name }}</option>
              {% endfor %}
            </select>
          </td>
        </tr>
      </table>
      <p><input type="submit" value="Submit" /></p>
      <p>
        Already have an account?
        <a href="/login"> Log in here. </a>
      </p>
    </form>
  </body>
</html>
