<html>
  <head>
    <title>Sign Up For Immersion Assist</title>
    <link
      type="text/css"
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    {% for category, message in get_flashed_messages(with_categories=True) %}
    <div class="toast {{category}}">{{ message }}</div>
    {% endfor %}

    <h1>Sign Up For Immersion Assist</h1>
    <form action="/signup" method="POST">
      <p>Email <input type="text" name="email" /></p>
      <p>Name <input type="text" name="name" /></p>
      <p>Password <input name="password" type="password" /></p>
      <p><input type="submit" value="Submit" /></p>
      <p>
        Already have an account?
        <a href="/login"> Log in here. </a>
      </p>

      <p></p>
    </form>
  </body>
</html>
