<html>
  <head>
    <title>Stats</title>
    <link
      type="text/css"
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="shortcut icon" type="image/x-icon" href="./static/favicon.ico" />
    <script
      type="text/javascript"
      src="https://www.gstatic.com/charts/loader.js"
    ></script>
    <script type="text/javascript">
      google.charts.load("current", { packages: ["line"] });
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var stats_json = {{ week_stats|tojson }}
        for (let i in stats_json) {
          s = stats_json[i];
          s["Date"] = new Date(s["dt"]);
        }
        stats_arrs = stats_json.map((element) => {
          if (element.count_correct + element.count_incorrect <= 0) {
            return [new Date(element.dt), 0, 0];
          }
          return [
            new Date(element.dt),
            element.count_correct + element.count_incorrect,
            element.count_correct /
              (element.count_correct + element.count_incorrect),
          ];
        });
        var data = google.visualization.arrayToDataTable(
          [["Day", "Number Quizzed", "Accuracy"]].concat(stats_arrs)
        );

        var options = {
          title: "Quiz Performance",
          curveType: "function",
          fontName: "Times New Roman",
          legend: { position: "none" },
          height: 500,
          series: {
            0: { axis: "CountAnswered", color: "#5b9cce" },
            1: { axis: "Accuracy", color: "#c6def1" },
          },
          axes: {
            y: {
              CountAnswered: { label: "Count Answered" },
              Accuracy: { label: "Accuracy" },
            },
          },
        };

        var chart = new google.charts.Line(document.getElementById("chart"));

        chart.draw(data, options);
      }
    </script>
  </head>

  {% for category, message in get_flashed_messages(with_categories=True) %}
  <div class="toast {{category}}">{{ message }}</div>
  {% endfor %}

  <body>
    <h3>Your Stats</h3>
    <div id="chart" style="width: 100%"></div>
  </body>

  <div class="nav_footer">
    <a class="material-icons" href="/quiz">school</a>
    <a class="material-icons" href="/new">add</a>
    <a class="material-icons" href="/terms">dashboard</a>
    <a class="material-icons" href="/stats">query_stats</a>
  </div>
</html>
