<head>
    <title>Add Cards </title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>

    {% for category, message in get_flashed_messages(with_categories=True) %}
        <div class="toast {{category}}">{{ message }}</div>
    {% endfor %}

    {% if segmented_story is not none %}
        <h2> Story </h2>
        <p> Click the words that you want to save, then hit "save." </p>
        <form action="/save_story_words" method = "POST">
            {% for segment, is_word in segmented_story %}
                {% if not is_word %}
                    <span class="story_span">{{segment}}</span>
                {% else %}
                    <label value="1">
                        <!-- <label class="labelforcheck"> -->
                        <input type="checkbox" class="story_word_check" name="{{segment}}">
                        <span class="story_span story_word_span">{{segment}}</span>
                        <!-- {{word}} -->
                    </label>
                {% endif %}
            {% endfor %}
            <p><input type = "submit" value = "Save" /></p>
        </form>
    {% endif %}

    <form action="/story_time" method = "POST">
        <p>Input a story to tokenize:</p>
        <textarea style="width:100%; height:50%" type = "text" name="story"></textarea> 
        <p><input type = "submit" value = "Submit" /></p>
    </form>

    <div class="nav_footer">
        <span class="material-icons" onclick="window.location.href = '/quiz';">school</span>
        <span class="material-icons" onclick="window.location.href = '/new_card';">add</span>
        <span class="material-icons" onclick="window.location.href = '/terms';">dashboard</span>
        <span class="material-icons" onclick="window.location.href = '/stats';">query_stats</span>

    </div>
</body>