<html>
  <head>
    <title>Your Terms</title>
    <link
      type="text/css"
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="shortcut icon" type="image/x-icon" href="./static/favicon.ico" />
  </head>

  {% for category, message in get_flashed_messages(with_categories=True) %}
  <div class="toast {{category}}">{{ message }}</div>
  {% endfor %}

  <h2>
    Your study terms
    <a
      style="
        font-size: 0.4em;
        color: var(--medium-blue);
        font-weight: normal;
        display: block;
      "
      class="download_terms"
      href="/download_terms"
      >download all</a
    >
  </h2>

  <body>
    {% if not terms %}
    <div href="/new">Add some terms to see them here!</div>
    {% endif %}

    <div style="column-count: 2; column-gap: 0px">
      {% for study_term in terms %}
      <div class="flashcard">
        <span
          class="material-icons edit_button"
          onclick="window.location.href = '/edit?study_term_id_to_edit={{study_term.id}}';"
        >
          edit
        </span>
        <span
          class="material-icons delete_button"
          onclick="window.location.href = '/delete?study_term_id_to_delete={{study_term.id}}';"
        >
          delete
        </span>
        <div class="card_title">{{study_term.term}}</div>
        <div>translation: {{study_term.translated_term}}</div>
        {% if study_term.pronunciation %}
        <div>pronunciation: {{study_term.pronunciation}}</div>
        {% endif %}
      </div>
      {% endfor %}
    </div>

    <div class="page_nav">
      {% for n in range(1,num_pages + 1) %}
      <span
        onclick="window.location.href = '/terms?page_no={{n}}';"
        class="page_no {% if n == page_number %} active_page {% endif %}"
        >{{n}}</span
      >
      {% endfor %}
    </div>
  </body>

  <div class="nav_footer">
    <a class="material-icons" href="/quiz">psychology_alt</a>
    <a class="material-icons" href="/chat">forum</a>
    <a class="material-icons" href="/new">add</a>
    <a class="material-icons" href="/terms">dashboard</a>
    <a class="material-icons" href="/stats">query_stats</a>
  </div>
</html>
