<html>
  <head>
    <title>Your Flashcards</title>
    <link
      type="text/css"
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>

  {% for category, message in get_flashed_messages(with_categories=True) %}
  <div class="toast {{category}}">{{ message }}</div>
  {% endfor %}

  <h2>Your study terms</h2>

  <body>
    {% if not terms %}
    <div href="/new">Add some cards to see them here!</div>
    {% endif %}

    <div style="column-count: 2; column-gap: 0px">
      {% for study_term in terms %}
      <div class="flashcard">
        <span class="edit_button">
          <span
            class="material-icons"
            onclick="window.location.href = '/edit?study_term_id_to_edit={{study_term.id}}';"
          >
            edit
          </span>
          <span
            class="material-icons"
            onclick="window.location.href = '/delete?study_term_id_to_delete={{study_term.id}}';"
          >
            delete
          </span>
        </span>
        <div class="card_title">{{study_term.term}}</div>
        <div>translation: {{study_term.translated_term}}</div>
        <div>pronunciation: {{study_term.pronunciation}}</div>
      </div>
      {% endfor %}
    </div>

    <div class="page_nav">
      {% for n in range(1,num_pages + 1) %}
      <span
        onclick="window.location.href = '/terms?page_no={{n}}';"
        class="page_no {% if n == page_number %} active_page {% endif %}"
        >{{n}}</span
      >
      {% endfor %}
    </div>
  </body>

  <div class="nav_footer">
    <a class="material-icons" href="/quiz">school</a>
    <a class="material-icons" href="/new">add</a>
    <a class="material-icons" href="/terms">dashboard</a>
    <a class="material-icons" href="/stats">query_stats</a>
  </div>
</html>
